<html lang="en">
<head>
    <link rel="stylesheet" href="css/user_profile_page_styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body style="background-color:#122f69;">
  <div class="container">
    <div class="navbar">
      <a href="/" class="logo">Ticketbloom</a>
    </div>

    <form method="post"  action="/update_user">
    
        <label class="formHeader"><b>User Profile</b></label>
       
          <u></u>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="New Password" name="username" value=<%=username %> readonly> 
        <br ></br>
        <label for="psw"><b>Password </b></label>
        <input type="text" placeholder="New Password" name="password" value=<%=password %> required> 
        <br></br>
        <label for="psw"><b>Name</b> </label>
        <input type="text" placeholder="New Name" name="name" value=<%=name %> required> 
        <br></br>
        <label for="psw"><b>Surname</b></label>
        <input type="text" placeholder="New Surname" name="surname" value=<%=surname %> required> 
        <br></br>
        <label for="psw"><b>Phone Number</b></label>
        <input type="text" placeholder="New PhoneNumber" name="phoneNumber" value=<%=phoneNumber %> required> 
        <br></br>
        <label for="psw"><b>e-mail</b></label>
        <input type="text" placeholder="New e-mail" name="email" value=<%=email %> required> 
        <br></br>
        <button type="submit">Update</button>
    
        <a href="/" class="cancelbtn">Cancel</a>
      </div>
    
    </form>
    
    <footer>
      <a href="https://www.ds.unipi.gr/en/home-en/" class="address">2023 © Department of Digital Systems</a>
  </footer>
    
</body>
</html>


